body {
  margin: 0;
  padding: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.navigation {
  position: absolute;
  margin: 0;
  width: 100%;
  background: rgb(181, 156, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 156, 230) 0%,
    rgb(181, 156, 255) 50%,
    rgb(156, 255, 249) 100%
  );
  text-align: center;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;
  align-items: right;
}

.navbar > :nth-child(1) {
  margin-right: auto;
}

.nav-link {
  color: #030303;
}

.content {
  background: linear-gradient(
    45deg,
    rgb(77, 47, 69) 0%,
    rgb(54, 47, 77) 50%,
    rgb(47, 77, 75) 100%
  );
  color: rgb(247, 247, 247);
}

.nameHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .nameHeader {
    height: 94vh;
    margin-left: 5vw;
    font-size: 4vw;
  }
  .navbar {
    padding: 0 1vw 0 1vw;
    width: 98vw;
  }

  .navigation {
    height: 6vh;
    position: fixed;
    bottom: 0;
  }

  .nav-link {
    margin: auto;
    font-size: 4vw;
  }

  .content {
    margin-bottom: 6vh;
    min-height: 94vh;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .nameHeader {
    height: 95vh;
    margin-left: 10vw;
    font-size: 2.2vw;
  }
  .navbar {
    padding: 0 2.5vw 0 2.5vw;
    width: 95vw;
  }

  .navigation {
    height: 6vh;
  }

  .nav-link {
    margin-right: 0.4vw;
    margin-left: 0.4vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2vh;
    overflow: hidden;
  }
  .content {
    padding-bottom: 0;
    padding-top: 6vh;
    min-height: 94vh;
  }
}

@media screen and (min-width: 1500px) {
  .nameHeader {
    height: 96vh;
    margin-left: 10vw;
    font-size: 2.2vw;
  }
  .navbar {
    padding: 1vh 2vw 0 2vw;
    width: 96vw;
  }

  .navigation {
    height: 9vh;
  }

  .nav-link {
    margin-right: 1vw;
    margin-left: 1vw;
    font-size: 5vh;
  }
  .content {
    padding-top: 9vh;
    padding-bottom: 0;
    min-height: 91vh;
  }
}
